#feed-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    justify-content: center;
}

#feed-content{
    display: flex;

    justify-content: center;
}

li{
    list-style-type: none;
}

img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 0;
    transition: transform 0.2s;
    border-radius: 10px;
}

img:hover{
    opacity: .5;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

    cursor: pointer;
}

.heart {
    display: inline-block;  /* Critical for transform */
    margin-top: 10px;
    font-size: 24px;
    color: gray;
    position: relative;  /* Added to ensure transform is relative to its own position */
}

.heart:hover {
    cursor: pointer;
}

.liked {
    color: red;
}

.beating {
    animation: beat 0.3s ease-in-out;
}

@keyframes beat {
    0%, 100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-5px) scale(1.2);
    }
}