#log-in-root{
    height: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h1{
    display: flex;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fields{
    margin: 50px 0px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#log-in-email, #log-in-password{
height: 26px;
font-size: 20px;
}

.log-in-buttons{
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
} 

button:hover{
cursor: pointer;
}