.profile-dropdown {
  position: absolute;
}

#nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* margin-left: 11%; */
  padding: 0px;
}

#searchbar{
  margin: 0px 150px;
}

#profile-button {
  display: flex;
  align-self: center ;

}

#logo{
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  display: flex;
  /* margin-right: 50px; */
  width: fit-content;
  justify-self: flex-start;
}



